In [1]:
import pandas as pd

In [8]:
# Create a sample DataFrame
data = {'email': ['12.5 rating alice@example.com', ' 23.5 rating bob@example.net']}
df = pd.DataFrame(data)

# Define a regular expression pattern with capture groups
pattern = r'(\w+)@(\w+\.\w+)'

# Use str.extract() to extract the username and domain
df[['username', 'domain']] = df['email'].str.extract(pattern)

In [9]:
# extract the username and domain
df

                           email username       domain
0  12.5 rating alice@example.com    alice  example.com
1    23.5 rating bob@example.net      bob  example.net

In [11]:
# extract rating
df["rating"]=df['email'].str.extract(r"(\d.+) rating")
df

                           email username       domain rating
0  12.5 rating alice@example.com    alice  example.com   12.5
1    23.5 rating bob@example.net      bob  example.net   23.5